:root {
  --dark: #16191C;
  --dark-x: #1E2126;
  --light: #ffffff;
  --rojo: #ffc400;
  --fondo: #1414148c;
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 300;
  color: var(--light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#subir {
  margin-top: 20px;
}

.button {
  background-color: #2b97fd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.text-light {
  color: var(--light) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-dark-x {
  background-color: var(--dark-x);
}

.btn {
  min-height: 3.125rem;
  font-weight: 600;
}

.form-control {
  min-height: 3.125rem;
  line-height: initial;
}

.form-control:focus {
  background-color: var(--dark-x);
  outline: none;
}

/* Imagen de fondo con texto centrado */
.img-1 {
  background-image: url(https://source.unsplash.com/random/1600x900?forest);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light);
  text-align: center;
}

.text-overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.text-overlay p {
  font-size: 1.5rem;
}

footer {
  background-color: rgba(26, 25, 25, 0.664);
  color: white;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#fuente {
  color: var(--rojo);
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  padding-left: 20px;
}

#piedepag {
  font-family: 'Bebas Neue', cursive;
  color: var(--rojo);
  font-size: 20px;
}

nav {
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
  color: var(--rojo);
}

#separarsearch {
  padding-right: 20px;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    text-align: center;
  }
  
  .carousel-item {
    height: 100vh;
  }

.carousel-caption h5, .carousel-caption p {
    color: white;
  }

  .bg-dark {
    background-color: #16191C !important; 
    color: white; 
  }
  
  .bg-dark input, .bg-dark label, .bg-dark a {
    color: white; 
  }

  .text-white {
    color: white !important;
  }
  
  .button {
    background-color: #2b97fd;
    color: white; 
  }
  
  .button:hover {
    background-color: #1e78d6;
  }
  